.helloimg{
    height: 18rem;
    width: 30rem;
    margin: 10px auto;
    border-radius: 3rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}